<h1> Edit Article </h1>
<% if @article.errors.any? %>
  <h2> Could not create article </h2>
  <% @article.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<%= render 'form' %>

